.btn-container {
    height: 100px;
    display: flex;
  }
  
  .number-btn {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    background: white;
    border: 1px solid gray;
    width: 100px;
  }
  .number-btn:hover{
      border:3px solid darkgray;
    }
  .red-btn {
    background: darkred;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    width: 100px;
  }
  .red-btn:hover{
    border:3px solid darkgray;
  }
  
  .big-btn {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: black;
    background: white;
    border: 1px solid grey;
    width: 300px;
  }
  .big-btn:hover{
    border:3px solid darkgray;
  }
  
 